.work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: rgb(255, 144, 14);
  color: white;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

/* header section style */

/* navbar relate style */
.navbar{
justify-content: space-between;
}
.nav-title{
  color: rgb(19, 19, 19);
  font-size: 2.15rem;
  font-weight: 700;
}
.nav-item{
list-style: none;
margin-right: 30px;
padding-top: 25px;
}

.nav-link{
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(66, 66, 66);
}

.navbar ,.banner{
  max-width: 985px;
  margin: 0 auto;
}

/* banner-related styles */
.banner{
  margin-top: 70px;
}
.banner-content{
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 2.5rem;
  font-weight: 700;
}
.banner-description{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.banner-image{
  max-width: 100%;
  margin: 50px 0 0;
}
main{
  max-width: 950px;
  margin: 0 auto;
}
main > section{
  margin-top: 85px;
}
/* team and feauture related styles */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-img{
  width: 230px;
  height: 230px;
}
.our-features{
  margin-left: 50px;
  max-width: 360px;
  height: 304px;
}
.feature-title{
  font-size: 2.18rem;
  font-weight: 700;
}

#quick-list{
  font-weight: 500;
  color: rgb(114, 114, 114);
}
.feature{
  color: rgb(255, 144, 14);
}
.feature-description{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
  margin: 24px 0 32px;
}

/* fact section style */
.fact-title{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.fact-description{
  color: rgb(114, 114, 114);
  font-size: 12px;
  font-weight: 400;
  margin: 24px 0 80px;
  width: 440px;
}
.facts-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 50px;
}
.fact-card{
  /* width: 160px;
  height: 160px; */
  text-align: center;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  margin-left: 30px;
}
.fact-card > div{
  margin: 25px 15px 40px;
}
.fact-icon{
  width: 30px;
  height: 30px;
  margin: 0;
}
.card-number{
  color: rgb(66, 66, 66);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0;
}
.card-title{
  color: rgb(114, 114, 114);
  font-size: 10px;
  font-weight: 600;
  margin: 5px 0 0;
}
  
/* responsive media query for mobile */
@media screen and (max-width: 576px) {
  .nav-title{
    text-align: center;
  }
  .nav-links{
    text-align: center;
  }
   .navbar,
   .nav-link,
   .teams {
    flex-direction: column;
   }
   .teams{
    margin: 20px 0;
   }
   .team-img-container{
    grid-template-columns: repeat(1, 1fr);
   }
   .our-features{
    margin-left: 5px;
   }
   .facts-container{
    grid-template-columns: repeat(2, 1fr);
   }
  }

 

